services:
  mongo:
    image: mongo:6.0.6-jammy
    container_name: quantum_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  backend:
    build: ./backend
    container_name: quantum_backend
    restart: always
    env_file:
      - .env.docker
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data

  frontend:
    build: ./frontend
    container_name: quantum_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501

volumes:
  mongo_data:
